[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.2"
django-stubs = {extras = ["compatible-mypy"], version = "*"}
psycopg = {extras = ["pool", "binary"], version = ">=3.2"}
redis = {extras = ["hiredis"], version = "*"}
types-redis = "*"
djangorestframework = "*"

[dev-packages]
black = "*"
isort = "*"
mypy = "*"
pylint = "*"
pylint-django = "*"
prospector = "*"
colorlog = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.11"
